<!-- user_registration.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <div class="register-container">
        <div class="register-form">
            <h2>User Registration</h2>

            <form method="post" action="{{ url_for('register') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="register-input" required>
                <br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="register-input" required>
                <br>

                <label for="role">Role:</label>
                <select id="role" name="role" class="register-input" required>
                    <option value="teacher">Teacher</option>
                    <option value="dorm_manager">Dorm Manager</option>
                    <option value="student">Student</option>
                    <!-- Add more options for other roles if needed -->
                </select>
                <br>

                <!-- Add a field for dorm room only if the role is 'student' -->
                <label for="dorm_room" id="dorm_room_label" style="display:none;">Dorm Room:</label>
                <input type="text" id="dorm_room" name="dorm_room" class="register-input" style="display:none;">
                <br>

                <script>
                    // Show/hide dorm room field based on the selected role
                    document.getElementById('role').addEventListener('change', function () {
                        var dormRoomLabel = document.getElementById('dorm_room_label');
                        var dormRoomInput = document.getElementById('dorm_room');

                        if (this.value === 'student') {
                            dormRoomLabel.style.display = 'block';
                            dormRoomInput.style.display = 'block';
                        } else {
                            dormRoomLabel.style.display = 'none';
                            dormRoomInput.style.display = 'none';
                        }
                    });
                </script>

                <button type="submit" class="register-button">Register</button>
            </form>

            <p>Already have an account? <a href="{{ url_for('login') }}" class="welcome-link">Login here</a></p>
        </div>
    </div>
</body>
</html>
