<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Dormitory Notification System</title>
</head>
<body>
    <div class="container welcome-container">
        <h1 class="welcome-message">Welcome to the Dormitory Notification System</h1>
        <img src="{{ url_for('static', filename='welcome.png') }}" alt="Welcome Image" class="welcome-image" width="604" height="428">
    </div>

    <div class="welcome-links">
        <p class="welcome-text">New user? <a href="{{ url_for('register') }}" class="welcome-link">Register here</a></p>
        <p class="welcome-text">Already have an account? <a href="{{ url_for('login') }}" class="welcome-link">Login here</a></p>
    </div>
</body>
</html>
